body {
  text-align: center;
  background-color: #282c34;
}

.App {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
    display: flex;
    align-items: center;
    margin: 45px;
}
.header-logo {
  padding-right: 25px;
}

.App-link {
  color: #61dafb;
}

.header-button {
  padding: 10px;
    margin: 0px 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.record-viewer-options-bar {
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    padding: 15px;
    margin-bottom: 25px;
    font-style: italic;
}

.record-viewer-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 32px;
}

.record-group-title {
  font-weight: bold;
}

.record-viewer-standard-set {
  display: flex;
  align-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.current-leaders-group {
  min-width:525px;
  width:45%;
  text-align: center;
  display:inline-block;
    border-right: 1px solid #666666;
    padding: 0 50px 0 25px;
    margin-right:30px;
}

.combined-history-group {
  display:inline-block;
  width: 50%;
  padding-left: 20px;
  text-align: left;
}
.record-viewer-standard {
  border: 1px solid silver;
  font-size: 12px;
  text-align: left;
  border-radius: 3px;
  margin: 6px;
  padding: 0px 24px 12px;
  width: 150px;
}

.record-viewer-record-holder {
  border: 5px solid silver;
  font-size: 12px;
  text-align: left;
  border-radius: 3px;
  margin: 6px;
  padding: 0px 24px 12px;
  width: 100%;
}

.combined-history-group .record-viewer-record-holder {
  width: 200px;
  border: 1px solid silver;
}

.combined-history-group .record-viewer-columns {
  display: inline;
}

.combined-history-group .record-viewer-full-width-detail {
  text-align: left;
}

.combined-history-group .record-viewer-columns p {
    display: block;
    width: auto;
    text-align: left;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.record-viewer-record-current {
  border: 5px solid gold;
}

.record-viewer-record-unbeaten {
  background-color: #444444;
}

.record-viewer-ranking {
    background-color: gold;
    color: black;
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    line-height: 20px;
    margin-right: 7px;
    border: 1px solid black;
}

.record-viewer-standards-parent {
  padding-bottom: 0;
  margin-bottom: 45px;
  border-bottom: 1px solid silver;
}

.record-group-info {
  /* padding: 0 25px; */
  text-align:left;
  padding-left: 5px;
}
.record-group-description {
    /* text-align: center; */
    font-size: 12px;
    font-style: italic;
}

.combined-history-group 
.record-group-info {
  /* padding: 0 100px; */
    width: 75%;
    /* text-align: center; */
}
.combined-history-group .record-group-title {
    /* text-align: center; */
}
.combined-history-group .record-viewer-ranking {
  background: transparent;
  border-color: silver;
  color: white;
}

.record-viewer-record-title {
  color: gold;
  font-weight: bold;
  display: block;
  text-align: center;
}
.combined-history-group .record-viewer-record-title {
  color: white;
}

.record-viewer-columns {
  display: flex;
    column-count: 3;
    justify-content: space-around;
}

.record-viewer-full-width-detail {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    line-height: 18px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.record-viewer-columns p {
    display: inline-flex;
    width: 150px;
    text-align: left;
}
.record-viewer-parent p {
  margin: 0px 0px;
  padding: 2px 0px;
}

.record-viewer-record-header {
  border-bottom: 1px solid silver;
  padding: 12px 0 0 0;
}

.record-viewer-view-link {
    color: silver;
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: end;
    margin: 0;
}

.records-viewer-loading-container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.records-viewer-content-spinner {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.sort-select-parent {
  width: 100%;
  display: block;
  text-align: left;
  margin-bottom: 10px;
  padding-left:5px;
}

.combined-history-group .sort-select-parent {
    /* width: 75%; */
    /* text-align: center; */

}

.record-viewer-fine-print {

    font-size: 12px;
    font-style: italic;
}

.record-viewer-results-parent {
    display: flex;
    padding: 0 75px 0 50px;
}